@import '../../styles/';

.home {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: $container;
  max-width: 100%;
  background-color: $color-background;
  height: 100%;

  &-wrapper {
    background-color: $color-background;
  }

  @include tablet-mobile {
    width: $containerTablet;
    padding: 0 40px;
  }

  @include mobile {
    width: 100%;
    padding: 0 15px;
  }

  &__path {
    padding-top: 20px;
    color: $color-gray-secondary;

    @include mobile {
      display: none;
    }
  }

  &__catalog {
    display: flex;
    margin-top: 20px;

    @include mobile {
      flex-direction: column;
    }
  }

  &__products {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;

    @include mobile {
      padding: 0;
      margin-top: 50px;
    }
  }
}
