@import './common/fonts';
@import './common/reset';
@import './common/variables';

@import './mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Inter';
}
