// Sizes
$large: 1440px;
$medium: 1260px;
$small: 820px;

$container: 1180px;
$containerTablet: 944px;
$containerMobile: 288px;

$indent-4: 4px;
$indent-8: 8px;
$indent-12: 12px;
$indent-16: 16px;
$indent-20: 20px;
$indent-24: 24px;
$indent-32: 32px;
$indent-34: 34px;
$indent-36: 36px;
$indent-44: 44px;
$indent-48: 48px;
$indent-56: 56px;
$indent-64: 64px;
$indent-76: 76px;
$indent-88: 88px;
$indent-128: 128px;
$indent-130: 130px;

// Colors
$color-dark: #1c1c1c;

$color-white: #ffffff;

$color-background: #f7fafc;

$color-gray-primary: #dee2e7;
$color-gray-secondary: #8b96a5;
$color-gray-tertiary: #505050;

$color-blue-primary: #0d6efd;
$color-blue-secondary: #0067ff;
$color-blue-tertiary: #afd0ff;
